.board {
  display: flex;
  flex-direction: column;

  max-width: 450px;
  max-height: 450px;
  height: 100%;
  width: 100%;

  margin: 0 auto;

  color: #444;
  background-color: #EEEEEE;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
}

.board-row {
  flex: auto;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.board-tile-container {
  flex: auto;
  height: 100%;
  width: 100%;

  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
